.our-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.pro {
  flex: 1;
  max-width: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pro img {
  max-width: 100%;
  height: auto;
}

.project-left {
  order: 1;
}

.project-right {
  order: 2;
}

.project-top {
  order: 3;
}

.project-bottom {
  order: 4;
}

.company-infor {
  flex: 1;
  padding: 20px;
  background: #8A2BE2;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 18px;
}
