body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ACABA9;
background-color: #EAEAEA;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23EAEAEA' width='11' height='11'/%3E%3Crect fill='%23e8eaea' x='10' width='11' height='11'/%3E%3Crect fill='%23e6e9eb' y='10' width='11' height='11'/%3E%3Crect fill='%23e4e9eb' x='20' width='11' height='11'/%3E%3Crect fill='%23e1e9eb' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23dfe9ec' y='20' width='11' height='11'/%3E%3Crect fill='%23dde8ec' x='30' width='11' height='11'/%3E%3Crect fill='%23dbe8ed' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d8e8ed' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d6e8ed' y='30' width='11' height='11'/%3E%3Crect fill='%23d4e7ee' x='40' width='11' height='11'/%3E%3Crect fill='%23d2e7ee' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23cfe7ee' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23cde7ef' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23cbe6ef' y='40' width='11' height='11'/%3E%3Crect fill='%23c8e6ef' x='50' width='11' height='11'/%3E%3Crect fill='%23c6e6f0' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23c4e6f0' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23c1e5f1' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bfe5f1' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bce5f1' y='50' width='11' height='11'/%3E%3Crect fill='%23bae4f2' x='60' width='11' height='11'/%3E%3Crect fill='%23b7e4f2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b5e4f2' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b2e4f3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23afe3f3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23ade3f3' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23aae3f4' x='70' width='11' height='11'/%3E%3Crect fill='%23a7e2f4' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23a5e2f4' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a2e2f5' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%239fe2f5' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%239ce1f6' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2399e1f6' x='80' width='11' height='11'/%3E%3Crect fill='%2396e1f6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2393e0f7' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2390e0f7' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%238de0f7' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%238ae0f8' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2386dff8' x='90' width='11' height='11'/%3E%3Crect fill='%2383dff8' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2380dff9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%237cdef9' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2378def9' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2375defa' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2371ddfa' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%236dddfa' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2369ddfb' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2364dcfb' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2360dcfc' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%235bdcfc' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2356dcfc' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2350dbfd' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%234adbfd' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2344dbfd' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%233cdafe' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2334dafe' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%232adafe' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%231cd9ff' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2302D9FF' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.partners-container {
    text-align: center;
    padding: 50px 0;
}

.partners-title {
    font-size: 4rem;
    color: #333;
    margin-bottom: 30px;
}

.partner-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.partner-card:hover {
    transform: scale(1.05);
    background-color: #FFFFFF;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.partner-card img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.partner-card h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.partner-card p {
    font-size: 16px;
    color: #666;
}
.partner-card p:hover {
    font-size: 16px;
    color: rgb(26, 26, 26);
}
.partner-link{
  text-decoration: none; 
  color: inherit;
}