/* WelcomePig.css */
@font-face {
  font-family: 'poppins-bold';
  src: local('poppins'), url('./Fonts/Poppins/Poppins-Bold.ttf');
}
.welcome-page {
  font-family: poppins-bold;
  position: relative; 
  /* background: linear-gradient(to bottom, #8A2BE2, #4B0082); Purple Gradient */
  background-image: url(blob-scene-haikei\ \(2\).svg);
  /* background-position-y: -500px; */
  background-size: cover;
  background-repeat:no-repeat;
  height: 40rem; /* Adjust the height as needed */
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  justify-content:center; /* Align content to the bottom */
  align-items: center;
  padding: 2rem;
  color: #000000; 
}

.left-col {
  text-align: center;
}

.right-col {
  display: flex;
  align-items: center;
  text-align: right;
}

.small-text {
  font-size: 1rem;
  text-align: start;
}

.big-text {
  font-weight: bold;
  font-size: 4rem;
  text-align: start;
}

.robotic-hand-image {
  position: relative; 
  bottom: 2rem;
  right: auto;
  width: 90%; 
  height: 700px; 
  z-index: 1; 
  object-fit: cover;
}